<ion-header>

  <ion-navbar>
    <ion-title>{{shop.NAME | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
    <ion-avatar item-start>
      <img src="{{shop.IMAGES[0]}}">
    </ion-avatar>
    <h2>{{shop.ADDRESS}}</h2>
    <p>{{shop.PHONE}}</p>
  </ion-item>

  <!--<ion-list>
    <ion-item *ngFor="let item of items">
      <img src="{{item.IMAGES[0]}}" alt="">
      <h3>{{item.NAME_LOCAL}}</h3>
      <h3>{{item.NAME_EN}}</h3>
      <p>{{item.PRICE}}</p>
    </ion-item>
  </ion-list>-->

  <ion-card *ngFor="let item of items">
    <div>
      <img src="{{item.IMAGES[0]}}" alt="">
    </div>
    <div class="info"></div>
    <div class="name_local">{{item.NAME_LOCAL}}</div>
    <div class="name_en">{{item.NAME_EN}}</div>
    <div class="price">{{item.PRICE}} KVND</div>
  </ion-card>
  <!--<ion-grid>
    <ion-row *ngFor="let item of items">
      <ion-col>
        <div>
          <img src="{{item.IMAGES[0]}}" alt="">
        </div>
      </ion-col>
      <ion-col col-6>
        <div>
          <h3>{{item.NAME_LOCAL}}</h3>
          <p>{{item.NAME_EN}}</p>
          <h4>{{item.PRICE}}</h4>
        </div>
      </ion-col>
      <ion-col>
        <div>
          M
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <div> 4 col</div>
      </ion-col>
      <ion-col col-6>
        <div>6 col</div>
      </ion-col>
      <ion-col>
        <div>2 col</div>
      </ion-col>
    </ion-row>
  </ion-grid>-->


  <ion-fab left bottom>
    <button ion-fab color="danger" mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab (click)="go2MenuItemAdd()"><ion-icon name="md-checkmark"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>