<ion-header>

  <ion-navbar>
    <ion-title>admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let order of orders">
    {{order.ORDER_ID}}
    <p>{{order.ORDER_STATUS}}</p>
    <div></div>
    <ion-grid>
      <ion-row *ngFor="let order of order.ORDER_LIST; let i = index" class="row_main">
        {{order.item}} - {{ order.amount}}
        <!--<ion-col *ngIf="itemIndex[i].count>0">
          <ion-row class="name_local">{{item.i}}</ion-row>
          <ion-row class="name_en">{{item.NAME_EN}}</ion-row>
        </ion-col>
        <ion-col class="adjust" *ngIf="itemIndex[i].count>0">
          <ion-row>
            <ion-col class="subtract" (click)="subtract(i)">
              <ion-icon name="md-remove"></ion-icon>
            </ion-col>
            <ion-col class="number">{{itemIndex[i].count}}</ion-col>
            <ion-col class="add" (click)="add(i)">
              <ion-icon name="md-add"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>